<ion-view view-title="Saldos de cuentas">
    <ion-content class="padding">
        <ion-refresher
            pulling-text="Obtener nuevos balances..."
            on-refresh="ctrl.GetBalances()">
        </ion-refresher>
        <div class="row">
            <div class="col valores-mercado">
                <div class="list card">
                    <a href="#" class="item item-icon-left" ng-repeat="item in ctrl.Balances.assets">
                        <i class="icon ion-home"></i>
                        <div class="row">
                            <div class="col col-50">
                                <div class="row">
                                    <div class="col col-100">
                                        {{ item.MONEDA }} ({{ item.SALDO }})
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-100">
                                        U$: <strong>{{ item.SALDO_USDT }}</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-100">
                                        mBTC: <strong>{{ item.SALDO_MBTC }}</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-50">
                                <div class="row">
                                    <div class="col col-100">
                                        MERCADO
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-100">
                                        U$: {{ item.VALOR_USDT }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-100">
                                        mBTC: {{ item.VALOR_MBTC }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col">
                <div class="card">
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-home"></i>
                        <div class="row">
                            <div class="col col-50">
                                TOTAL U$S:
                            </div>
                            <div class="col col-50">
                                {{ ctrl.Balances.TOTAL_USD }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50">
                                TOTAL MBTC:
                            </div>
                            <div class="col col-50">
                                {{ ctrl.Balances.TOTAL_MBTC }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50">
                                U$S/BTC: 
                            </div>
                            <div class="col col-50">
                                {{ ctrl.Balances.VALOR_BTC_USD }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-100">
                <button class="button button-royal button-fullwidth" ng-click="ctrl.GetBalances()">Update</button>
            </div>
        </div>
    </ion-content>
</ion-view>
