<ion-view view-title="Exchanges balances">
    <ion-content class="padding">
        <ion-refresher
            pulling-text="Get updated balances..."
            on-refresh="ctrl.GetDefaultBalances()">
        </ion-refresher>

        <div class="row">
          <div class="col valores-mercado">
            <span ng-show="!ctrl.Balances.exchange.description">{{ctrl.loadingMessage}}</span>
            {{ctrl.Balances.exchange.description}}
          </div>
        </div>
        <div class="row">
            <div class="col valores-mercado">
                <div class="list card" ng-show="ctrl.Balances.assets">
                    <a href="#" class="item item-icon-left" ng-repeat="item in ctrl.Balances.assets">
                        <i class="icon" ng-class="ctrl.getBalanceCurrencyIcon(item)"></i>
                        <div class="row">
                            <div class="col col-50">
                                <div class="row">
                                    <div class="col col-100">
                                        {{ item.MONEDA }} ({{ item.SALDO | number:4 }})
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-100">
                                        U$: <strong>{{ item.SALDO_USDT | number:4 }}</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-100">
                                        mBTC: <strong>{{ item.SALDO_MBTC | number:4 }}</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-50">
                                <div class="row">
                                    <div class="col col-100">
                                        MERCADO
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-100">
                                        U$: {{ item.VALOR_USDT | number:4 }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-100">
                                        mBTC: {{ item.VALOR_MBTC | number:4 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row" ng-show="ctrl.Balances.TOTAL_USD">
            <div class="col">
                <div class="card">
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-home"></i>
                        <div class="row">
                            <div class="col col-50">
                                TOTAL U$S:
                            </div>
                            <div class="col col-50">
                                {{ ctrl.Balances.TOTAL_USD | number:4 }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50">
                                TOTAL MBTC:
                            </div>
                            <div class="col col-50">
                                {{ ctrl.Balances.TOTAL_MBTC | number:4 }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50">
                                U$S/BTC:
                            </div>
                            <div class="col col-50">
                                {{ ctrl.Balances.VALOR_BTC_USD | number:4 }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="exchange in ctrl.exchanges">
            <div class="col col-100">
                <button class="button button-royal button-fullwidth" ng-click="ctrl.GetBalances(exchange)">Update {{exchange.code}}</button>
            </div>
        </div>
    </ion-content>
</ion-view>
