<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    <ion-item class="text-center">
      <label>Default exchange</label>
      <select class="custom-select" ng-model="ctrl.selectedExchange" ng-change="ctrl.selectionChanged()"
        ng-options="option.description for option in ctrl.exchanges track by option.id" >
      </select>
    </ion-item>
  </ion-content>
</ion-view>
