<ion-view view-title="Account">
  <ion-content>
    <form ng-submit="ctrl.Update()">
      <div class="row">
        <div class="col">
          <div class="row text-center">
            <div class="col">
              <h4>Edit User</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="item item-input">
                <input ng-model="ctrl.editingUser.name" type="text" placeholder="Name" value="">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="item item-input">
                <input ng-model="ctrl.editingUser.email" type="email" placeholder="E-mail" value="email@example.com">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ion-toggle ng-model="ctrl.modifyPassword">
                Change Password
              </ion-toggle>
            </div>
          </div>
          <div class="row" ng-if="ctrl.modifyPassword">
            <div class="col">
              <label class="item item-input">
                <input ng-model="ctrl.editingUser.password" type="password" placeholder="Choose Password" value="">
              </label>
            </div>
          </div>
          <div class="row" ng-if="ctrl.modifyPassword">
            <div class="col">
              <label class="item item-input">
                <input ng-model="ctrl.editingUser.repeatPassword" type="password" placeholder="Confirm Password" value="">
              </label>
            </div>
          </div>
          <div class="row text-center">
            <div class="col col-100">
              <button class="button button-balanced button-fullwidth" ng-disabled="!ctrl.isValid()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col col-100">
        <button class="button button-royal button-fullwidth" ng-click="ctrl.Logout()">Logout</button>
      </div>
    </div>
  </ion-content>
</ion-view>
