<ion-view view-title="Saldos">
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <h6>Saldos de Cuentas</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-royal" ng-click="ctrl.GetBalances()">Update</button>
            </div>
        </div>
        <div class="row">
            <div class="col valores-mercado">
                <div class="list card">
                    <a href="#" class="item item-icon-left" ng-repeat="item in ctrl.Balances.balances">
                        <i class="icon ion-home"></i>
                        <div class="row">
                            <div class="col col-50">
                                <div class="row">
                                    <div class="col col-100">
                                        {{ item.MONEDA }} ({{ item.SALDO }})
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-100">
                                        U$: <strong>{{ item.SALDO_USDT }}</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-100">
                                        mBTC: <strong>{{ item.SALDO_MBTC }}</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-50">
                                <div class="row">
                                    <div class="col col-100">
                                        MERCADO
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-100">
                                        U$: {{ item.VALOR_USDT }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-100">
                                        mBTC: {{ item.VALOR_MBTC }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col">
                <div class="card">
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-home"></i>
                        <div class="row">
                            <div class="col col-50">
                                TOTAL U$S:
                            </div>
                            <div class="col col-50">
                                {{ ctrl.Balances.TOTAL_USD }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50">
                                TOTAL MBTC:
                            </div>
                            <div class="col col-50">
                                {{ ctrl.Balances.TOTAL_MBTC }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50">
                                VALOR U$S/BTC:
                            </div>
                            <div class="col col-50">
                                {{ ctrl.Balances.VALOR_BTC_USD }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
