/* Empty. Add your own CSS if you like */

i.order-icon {
  top: 50%;
  position:relative;
  top: 50%;
}

.valores-mercado span.order-type {
  font-size: larger;
  font-weight: bold;
  position:relative;
  top: 50%;
}
